/* @import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
}

/*----------------------NavBar Styling---------------------- */
@screen md {
  .nav-link:hover {
    @apply border-b-4 border-gold-500;
  }
  .nav-link-special:hover {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
  }

  .nav-link-special:active {
    @apply bg-gold-500;
    animation: none;
    animation-iteration-count: infinite;
  }
}

/* Height = 100VW - headerHeight - footerHeight (To keep gray background) */
.height-minus-header {
  height: calc(100vh - 130px -83px);
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.active-tab {
  @apply border-l border-t border-r rounded-t bg-gold-500 text-white;
}

/*----------------------Loading Styling---------------------- */
.bounce {
  animation: spinner-bounce 0.8s infinite ease-in-out both;
}

.spinner-dot-1 {
  animation-delay: -0.4s;
}

.spinner-dot-2 {
  animation-delay: -0.3s;
}
.spinner-dot-3 {
  animation-delay: -0.2s;
}

.spinner-dot-4 {
  animation-delay: -0.1s;
}

@keyframes spinner-bounce {
  0%,
  80%,
  100% {
    transform: scale(0.5);
  }
  40% {
    transform: scale(1);
  }
}

@screen lg {
  @keyframes spinner-bounce {
    0%,
    80%,
    100% {
      transform: scale(0.8);
    }
    40% {
      transform: scale(1.6);
    }
  }
}

/*----------------------Glitch Text Styling---------------------- */
.glitch {
  animation: glitch-skew 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s infinite;
  line-height: 1;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transform-origin: center top;
}

.glitch__main {
  color: #000;
}

.gc {
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  transform-origin: center center;
  width: 100%;
  z-index: -1;
}

.gc-garnet {
  animation: glitch 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  @apply text-garnet-500;
}

.gc-gold {
  animation: glitch 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite reverse;
  @apply text-gold-500;
}

.gc-black {
  animation: glitch 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
  @apply text-black;
}

.gl {
  animation: glitch-line 3s linear infinite;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  @apply bg-gray-200;
}

.glfirst {
  animation: glitch-line 2s linear infinite;
}
.glsecond {
  animation: glitch-line 1s linear 1s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-6px, 6px);
  }
  40% {
    transform: translate(-6px, -6px);
  }
  60% {
    transform: translate(6px, 6px);
  }
  60% {
    transform: translate(6px, -6px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  48% {
    transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  50% {
    transform: skew(-20deg, 0deg);
    filter: blur(4px);
  }
  52% {
    transform: skew(20deg, 0deg);
  }
  54% {
    transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

@keyframes glitch-line {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

/*----------------------About Background Styling---------------------- */
.bg-chief {
  background-image: url('../images/chief.jpg');
  background-size: cover;
  opacity: 0.9;
}
